<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin - Register</title>
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="row w-100 m-0">
                <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                    <div class="card col-lg-4 mx-auto">
                        <div class="card-body px-5 py-5">
                            <h3 class="card-title text-left mb-3">Register</h3>
                            <% if (message && message.error) { %>
                                <div class="alert alert-danger">
                                    <%= message.error %>
                                </div>
                                <% } %>
                                    <form action="/register" method="POST">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input type="text" class="form-control p_input" name="username" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control p_input" name="email" required>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control p_input" name="password"
                                                required>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit"
                                                class="btn btn-primary btn-block enter-btn">Register</button>
                                        </div>
                                        <p class="sign-up text-center">Already have an Account?<a href="/login"> Log
                                                In</a></p>
                                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>